
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://github.com/Intercisa/" class="navbar-brand">intercisa</a></div>

        <ul class="navbar-nav">
            <li><a routerLink="/welcome/sipi" class="nav-link">Home</a></li> <!--TODO hardcored nick -->
            <li><a routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>


