
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://github.com/Intercisa/" class="navbar-brand">intercisa</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="hardcodedAuthentication.isUserLoggedIn()" routerLink="/welcome/sipi" class="nav-link">Home</a></li> <!-- you have to use this hardcodedAuthentication.isUserLoggedIn()-->
            <li><a *ngIf="hardcodedAuthentication.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/contacts" class="nav-link">Contacts</a></li>
            <li><a *ngIf="!hardcodedAuthentication.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuthentication.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>


